{% extends "base.html" %}
{% block title %}Luminote{% endblock %}

{% block content_left %}
<div class="card h-100">
  <div class="card-header">
    Prepare a sequence
  </div>
  <div class="card-body">
    <h4>Upload new File</h4>
    <form method=post enctype=multipart/form-data>
      <input type=file name=file>
      <input type=submit value=Upload class="btn btn-success">
    </form>
    <hr>
    <h4 class="card-title">Sample Text</h4>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
{% endblock %}

{% block content_right %}
<div class="card h-100">
  <div class="card-header">
    Current sequence
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
{% endblock %}